body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #111;
    padding: 15px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a,
.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.nav-left a:last-child {
    margin-right: 0;
}

.nav a:hover {
    text-decoration: underline;
}