body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #E3D6B4;
    padding: 15px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a,
.nav-right a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.nav-left a:last-child {
    margin-right: 0;
}

.nav a:hover {
    text-decoration: underline;
}


.hero {
    width: 100%;
    padding: 0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Header.png");
    height: 50vh;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}