.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* ruimte rondom login card op mobiel */
    box-sizing: border-box;
}

.login-card {
    background-color: #E3D6B4;
    width: 500px;
    min-height: 450px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    box-sizing: border-box;
    text-align: center;
}


.login-card h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* FORM */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group input {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    box-sizing: border-box;
    transition: all 0.2s;
}

.form-group input:focus {
    outline: none;
    border-color: #000;
}

/* LOGIN KNOP */
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: #d39898;
}

/* REGISTER LINK */
.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.register-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .login-page {
        min-height: 75vh;
    }
    .login-card {
        width: 90%;        /* smaller op tablet */
        padding: 35px;
        min-height: 400px;
    }

    .login-card h2 {
        font-size: 1.6rem;
    }

    .form-group input {
        padding: 12px;
        font-size: 1rem;
    }

    .login-btn {
        font-size: 1rem;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .login-card {
        width: 100%;        /* bijna volledige breedte mobiel */
        min-height: 350px;
    }

    .login-card h2 {
        font-size: 1.4rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input {
        padding: 10px;
        font-size: 0.95rem;
    }

    .login-btn {
        font-size: 0.95rem;
        padding: 10px;
    }

    .register-link {
        font-size: 0.85rem;
    }
}
